<a href="https://colab.research.google.com/github/mallowww/level-salary/blob/main/salaries_predict.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# !pip uninstall pandas-profiling -y #uninstall it 1st

In [ ]:
# !pip install pandas-profiling[notebook,html] #reinstall pandas-profiling

In [ ]:
# from google.colab import drive
# drive.mount('/content/drive')

In [ ]:
import pandas as pd #import
from pandas_profiling import ProfileReport

In [ ]:
from google.colab import drive #connect to your drive
# df = pd.read_csv("/content/drive/MyDrive/DS_BDA_65/Levels_Fyi_Salary_Data.csv")
df = pd.read_csv("https://raw.githubusercontent.com/mallowww/level-salary/main/Levels_Fyi_Salary_Data.csv")

In [ ]:
df.duplicated().sum()

0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 29 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   timestamp                62642 non-null  object
 1   company                  62637 non-null  object
 2   level                    62523 non-null  object
 3   title                    62642 non-null  object
 4   totalyearlycompensation  62642 non-null  int64
 5   location                 62642 non-null  object
 6   yearsofexperience        62642 non-null  float64
 7   yearsatcompany           62642 non-null  float64
 8   tag                      61788 non-null  object
 9   basesalary               62642 non-null  float64
 10  stockgrantvalue          62642 non-null  float64
 11  bonus                    62642 non-null  float64
 12  gender                   43102 non-null  object
 13  otherdetails             40137 non-null  object
 14  cityid                   62642 non-null  int64
 15  dmaid                    62640 non-null  float64
 16  rowNumber                62642 non-null  int64
 17  Masters_Degree           62642 non-null  int64
 18  Bachelors_Degree         62642 non-null  int64
 19  Doctorate_Degree         62642 non-null  int64
 20  Highschool               62642 non-null  int64
 21  Some_College             62642 non-null  int64
 22  Race_Asian               62642 non-null  int64
 23  Race_White               62642 non-null  int64
 24  Race_Two_Or_More         62642 non-null  int64
 25  Race_Black               62642 non-null  int64
 26  Race_Hispanic            62642 non-null  int64
 27  Race                     22427 non-null  object
 28  Education                30370 non-null  object
dtypes: float64(6), int64(13), object(10)
memory usage: 13.9+ MB

In [ ]:
df.dtypes

timestamp                   object
company                     object
level                       object
title                       object
totalyearlycompensation      int64
location                    object
yearsofexperience          float64
yearsatcompany             float64
tag                         object
basesalary                 float64
stockgrantvalue            float64
bonus                      float64
gender                      object
otherdetails                object
cityid                       int64
dmaid                      float64
rowNumber                    int64
Masters_Degree               int64
Bachelors_Degree             int64
Doctorate_Degree             int64
Highschool                   int64
Some_College                 int64
Race_Asian                   int64
Race_White                   int64
Race_Two_Or_More             int64
Race_Black                   int64
Race_Hispanic                int64
Race                        object
Education                   object
dtype: object

In [ ]:
df.shape

(62642, 29)

In [ ]:
df.isnull().sum() #now we can see what is null and we can identify which is numerical or categorical

timestamp                      0
company                        5
level                        119
title                          0
totalyearlycompensation        0
location                       0
yearsofexperience              0
yearsatcompany                 0
tag                          854
basesalary                     0
stockgrantvalue                0
bonus                          0
gender                     19540
otherdetails               22505
cityid                         0
dmaid                          2
rowNumber                      0
Masters_Degree                 0
Bachelors_Degree               0
Doctorate_Degree               0
Highschool                     0
Some_College                   0
Race_Asian                     0
Race_White                     0
Race_Two_Or_More               0
Race_Black                     0
Race_Hispanic                  0
Race                       40215
Education                  32272
dtype: int64

In [ ]:
df.duplicated().sum()

0

In [ ]:
to_keep =['company','title','totalyearlycompensation',
          'location','yearsofexperience','yearsatcompany','tag','basesalary',
          'stockgrantvalue','bonus','gender','Masters_Degree','Masters_Degree','Bachelors_Degree','Doctorate_Degree','Highschool','Some_College'
          ]

In [ ]:
df= df[to_keep]
df.dropna(subset=["company"])

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,20000.0,10000.0,NaN,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,0.0,0.0,NaN,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,180000.0,35000.0,NaN,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,150000.0,22000.0,NaN,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,73200.0,16000.0,NaN,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,25000.0,20000.0,NaN,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,57000.0,29000.0,NaN,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,27000.0,19000.0,Male,0,0,0,0,0,0

In [ ]:
X = df.drop(['totalyearlycompensation'], axis=1)
y = df['totalyearlycompensation']

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            62637 non-null  object
 1   title              62642 non-null  object
 2   location           62642 non-null  object
 3   yearsofexperience  62642 non-null  float64
 4   yearsatcompany     62642 non-null  float64
 5   tag                61788 non-null  object
 6   basesalary         62642 non-null  float64
 7   stockgrantvalue    62642 non-null  float64
 8   bonus              62642 non-null  float64
 9   gender             43102 non-null  object
 10  Masters_Degree     62642 non-null  int64
 11  Masters_Degree     62642 non-null  int64
 12  Bachelors_Degree   62642 non-null  int64
 13  Doctorate_Degree   62642 non-null  int64
 14  Highschool         62642 non-null  int64
 15  Some_College       62642 non-null  int64
dtypes: float64(5), int64(6), object(5)
memory usage: 7.6+ MB

In [ ]:
categorical_X = X.select_dtypes(include='object') #chose only object type from X df
categorical_X.columns

Index(['company', 'title', 'location', 'tag', 'gender'], dtype='object')

In [ ]:
from sklearn.preprocessing import OrdinalEncoder #Change string to number
enc = OrdinalEncoder()
enc.fit(X[categorical_X.columns])
X[categorical_X.columns] = enc.transform(X[categorical_X.columns])

In [ ]:
X.head()

,company,title,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College
0,920.0,8.0,767.0,1.5,1.5,NaN,107000.0,20000.0,10000.0,NaN,0,0,0,0,0,0
1,1458.0,11.0,822.0,5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0
2,64.0,8.0,858.0,8.0,0.0,NaN,155000.0,0.0,0.0,NaN,0,0,0,0,0,0
3,95.0,12.0,908.0,7.0,5.0,NaN,157000.0,180000.0,35000.0,NaN,0,0,0,0,0,0
4,818.0,11.0,609.0,5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0

In [ ]:
X.isnull().sum() #now we can see what is null and we can identify which is numerical or categorical

company                  5
title                    0
location                 0
yearsofexperience        0
yearsatcompany           0
tag                    854
basesalary               0
stockgrantvalue          0
bonus                    0
gender               19540
Masters_Degree           0
Masters_Degree           0
Bachelors_Degree         0
Doctorate_Degree         0
Highschool               0
Some_College             0
dtype: int64

In [ ]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='most_frequent') 

X['gender'] = imp.fit_transform(X['gender'].values.reshape(-1, 1))
X['tag'] = imp.fit_transform(X['tag'].values.reshape(-1, 1))
X['company'] = imp.fit_transform(X['company'].values.reshape(-1, 1))

In [ ]:
X.isnull().sum() #now we can see what is null and we can identify which is numerical or categorical

company              0
title                0
location             0
yearsofexperience    0
yearsatcompany       0
tag                  0
basesalary           0
stockgrantvalue      0
bonus                0
gender               0
Masters_Degree       0
Masters_Degree       0
Bachelors_Degree     0
Doctorate_Degree     0
Highschool           0
Some_College         0
dtype: int64

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   company            62642 non-null  float64
 1   title              62642 non-null  float64
 2   location           62642 non-null  float64
 3   yearsofexperience  62642 non-null  float64
 4   yearsatcompany     62642 non-null  float64
 5   tag                62642 non-null  float64
 6   basesalary         62642 non-null  float64
 7   stockgrantvalue    62642 non-null  float64
 8   bonus              62642 non-null  float64
 9   gender             62642 non-null  float64
 10  Masters_Degree     62642 non-null  int64
 11  Masters_Degree     62642 non-null  int64
 12  Bachelors_Degree   62642 non-null  int64
 13  Doctorate_Degree   62642 non-null  int64
 14  Highschool         62642 non-null  int64
 15  Some_College       62642 non-null  int64
dtypes: float64(10), int64(6)
memory usage: 7.6 MB

In [ ]:
X.shape

(62642, 16)

In [ ]:
# Split dataset into training set and test set 70% training and 30% test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3,random_state=777)

In [ ]:
# Standardization, or mean removal and variance scaling
# Standardization of datasets is a common requirement for many machine learning
# estimators implemented in scikit-learn; they might behave badly if the 
# individual features do not more or less look like standard normally distributed data: 
# Gaussian with zero mean and unit variance.

# Standardize features by removing the mean and scaling to unit variance.
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
# Fit only to the training data
scaler.fit(X_train)

# Now apply the transformations to the data:
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [ ]:
X_train

array([[-0.40556358,  0.417742  ,  0.70203059, ..., -0.17389146,
        -0.07526538, -0.07480434],
       [ 0.04294392,  0.417742  ,  0.8171926 , ..., -0.17389146,
        -0.07526538, -0.07480434],
       [-0.15401969,  0.417742  ,  0.70203059, ..., -0.17389146,
        -0.07526538, -0.07480434],
       ...,
       [ 0.64570003,  1.36533316,  0.75786671, ...,  5.75071361,
        -0.07526538, -0.07480434],
       [ 0.30160698,  0.417742  ,  0.27279037, ..., -0.17389146,
        -0.07526538, -0.07480434],
       [-0.46251691,  0.417742  ,  1.22200451, ..., -0.17389146,
        -0.07526538, -0.07480434]])

In [ ]:
df.head()

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College
0,Oracle,Product Manager,127000,"Redwood City, CA",1.5,1.5,NaN,107000.0,20000.0,10000.0,NaN,0,0,0,0,0,0
1,eBay,Software Engineer,100000,"San Francisco, CA",5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0
2,Amazon,Product Manager,310000,"Seattle, WA",8.0,0.0,NaN,155000.0,0.0,0.0,NaN,0,0,0,0,0,0
3,Apple,Software Engineering Manager,372000,"Sunnyvale, CA",7.0,5.0,NaN,157000.0,180000.0,35000.0,NaN,0,0,0,0,0,0
4,Microsoft,Software Engineer,157000,"Mountain View, CA",5.0,3.0,NaN,0.0,0.0,0.0,NaN,0,0,0,0,0,0

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62642 entries, 0 to 62641
Data columns (total 17 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   company                  62637 non-null  object
 1   title                    62642 non-null  object
 2   totalyearlycompensation  62642 non-null  int64
 3   location                 62642 non-null  object
 4   yearsofexperience        62642 non-null  float64
 5   yearsatcompany           62642 non-null  float64
 6   tag                      61788 non-null  object
 7   basesalary               62642 non-null  float64
 8   stockgrantvalue          62642 non-null  float64
 9   bonus                    62642 non-null  float64
 10  gender                   43102 non-null  object
 11  Masters_Degree           62642 non-null  int64
 12  Masters_Degree           62642 non-null  int64
 13  Bachelors_Degree         62642 non-null  int64
 14  Doctorate_Degree         62642 non-null  int64
 15  Highschool               62642 non-null  int64
 16  Some_College             62642 non-null  int64
dtypes: float64(5), int64(7), object(5)
memory usage: 8.1+ MB

In [ ]:
df.tail()

,company,title,totalyearlycompensation,location,yearsofexperience,yearsatcompany,tag,basesalary,stockgrantvalue,bonus,gender,Masters_Degree,Masters_Degree,Bachelors_Degree,Doctorate_Degree,Highschool,Some_College
62637,Google,Software Engineer,327000,"Seattle, WA",10.0,1.0,Distributed Systems (Back-End),155000.0,150000.0,22000.0,NaN,0,0,0,0,0,0
62638,Microsoft,Software Engineer,237000,"Redmond, WA",2.0,2.0,Full Stack,146900.0,73200.0,16000.0,NaN,0,0,0,0,0,0
62639,MSFT,Software Engineer,220000,"Seattle, WA",14.0,12.0,Full Stack,157000.0,25000.0,20000.0,NaN,0,0,0,0,0,0
62640,Salesforce,Software Engineer,280000,"San Francisco, CA",8.0,4.0,iOS,194688.0,57000.0,29000.0,NaN,0,0,0,0,0,0
62641,apple,Software Engineer,200000,"Sunnyvale, CA",0.0,0.0,ML / AI,155000.0,27000.0,19000.0,Male,0,0,0,0,0,0

In [ ]:
df.columns

Index(['company', 'title', 'totalyearlycompensation', 'location',
       'yearsofexperience', 'yearsatcompany', 'tag', 'basesalary',
       'stockgrantvalue', 'bonus', 'gender', 'Masters_Degree',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College'],
      dtype='object')

In [ ]:
df.dtypes

company                     object
title                       object
totalyearlycompensation      int64
location                    object
yearsofexperience          float64
yearsatcompany             float64
tag                         object
basesalary                 float64
stockgrantvalue            float64
bonus                      float64
gender                      object
Masters_Degree               int64
Masters_Degree               int64
Bachelors_Degree             int64
Doctorate_Degree             int64
Highschool                   int64
Some_College                 int64
dtype: object

In [ ]:
df = df.rename(
    columns={
        "totalyearlycompensation": "total_yearly_compensation",
        "yearsofexperience": "years_of_experience",
        "yearsatcompany": "years_at_company",
        "basesalary": "base_salary",
        "stockgrantvalue": "stock_grant_value"
    }
)

In [ ]:
df.columns

Index(['company', 'title', 'total_yearly_compensation', 'location',
       'years_of_experience', 'years_at_company', 'tag', 'base_salary',
       'stock_grant_value', 'bonus', 'gender', 'Masters_Degree',
       'Masters_Degree', 'Bachelors_Degree', 'Doctorate_Degree', 'Highschool',
       'Some_College'],
      dtype='object')

In [ ]:
profile = ProfileReport(df)
#profile.to_notebook_iframe() #create report on colab

In [ ]:
# Lasso 
#Lasso Support Vector Classification 

# 1
from sklearn.linear_model import Lasso
# 2
model = Lasso()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
from sklearn.metrics import mean_absolute_error
print("mean squared error:",mean_absolute_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test, y_pred))

mean squared error: 23837.160855591308
r2 score: 0.7223290558962755

In [ ]:
# ElasticNet 
#ElasticNet Support Vector Classification 

# 1
from sklearn.linear_model import ElasticNet
# 2
model = ElasticNet()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test, y_pred))

mean squared error: 6206691603.836349
r2 score: 0.6963773391973007

In [ ]:
# Ridge 
#Ridge Support Vector Classification 

# 1
from sklearn.linear_model import Ridge
# 2
model = Ridge()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test, y_pred))

mean squared error: 5676167048.827786
r2 score: 0.7223298574299295

In [ ]:
# SVR(kernel="linear") 
#SVR(kernel="linear") Support Vector Classification 

# 1
from sklearn.svm import SVR
# 2
model = SVR(kernel="linear")

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test, y_pred))

mean squared error: 11051878946.857683
r2 score: 0.4593575600501608

In [ ]:
# SVR(kernel="rbf")
#SVR(kernel="rbf") Support Vector Classification 

# 1
from sklearn.svm import SVR
# 2
model = SVR(kernel="rbf")

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
from sklearn.metrics import mean_squared_error
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.
from sklearn.metrics import r2_score
print("r2 score:",r2_score(y_test, y_pred))

NameError: ignored

In [ ]:
#AdaBoostRegressor
# 1
from sklearn.ensemble import AdaBoostRegressor
# 2
model = AdaBoostRegressor(random_state=0, n_estimators=100)

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#ExtraTreesRegressor

# 1
from sklearn.ensemble import ExtraTreesRegressor
# 2
model = ExtraTreesRegressor()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#GradientBoostingRegressor

# 1
from sklearn.ensemble import GradientBoostingRegressor
# 2
model = GradientBoostingRegressor()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#RandomForestRegressor

# 1
from sklearn.ensemble import RandomForestRegressor
# 2
model = RandomForestRegressor()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#HistGradientBoostingRegressor

# 1
from sklearn.ensemble import HistGradientBoostingRegressor
# 2
model = HistGradientBoostingRegressor()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#AdaBoostRegressor

# 1
from sklearn.ensemble import AdaBoostRegressor
# 2
model = AdaBoostRegressor()

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

In [ ]:
#MLPRegressor

# 1
from sklearn.neural_network import MLPRegressor
# 2
model = MLPRegressor(hidden_layer_sizes=(45,45),verbose=True,max_iter=200,)

#4
model.fit(X_train, y_train)
#5 
y_pred = model.predict(X_test)

# Regression metrics

# Mean squared error regression loss.
print("mean squared error:",mean_squared_error(y_test, y_pred))

# R2 (coefficient of determination) regression score function.

print("r2 score:",r2_score(y_test, y_pred))

Iteration 1, loss = 32598214642.61229324
Iteration 2, loss = 32347551171.39295578
Iteration 3, loss = 31411227924.83602905
Iteration 4, loss = 29478954442.94118881
Iteration 5, loss = 26492204043.48918533
Iteration 6, loss = 22712221829.15970230
Iteration 7, loss = 18594091154.82548523
Iteration 8, loss = 14683064829.62207603
Iteration 9, loss = 11438764062.25436592
Iteration 10, loss = 9034282203.30678940
Iteration 11, loss = 7377469673.59889889
Iteration 12, loss = 6230859890.17489529
Iteration 13, loss = 5382091427.55649853
Iteration 14, loss = 4706113434.86287403
Iteration 15, loss = 4143301385.98370171
Iteration 16, loss = 3674235846.02755070
Iteration 17, loss = 3286754323.99911213
Iteration 18, loss = 2976033150.65553761
Iteration 19, loss = 2735078506.31131077
Iteration 20, loss = 2552805010.55746078
Iteration 21, loss = 2418605214.40547228
Iteration 22, loss = 2319695695.23490286
Iteration 23, loss = 2246681133.44279575
Iteration 24, loss = 2191379758.71195793
Iteration 25, loss = 2147327741.94423413
Iteration 26, loss = 2110900859.73730516
Iteration 27, loss = 2080277043.31683350
Iteration 28, loss = 2052551908.41412902
Iteration 29, loss = 2027509919.96507573
Iteration 30, loss = 2004254974.88106227
Iteration 31, loss = 1982163887.00205183
Iteration 32, loss = 1961669827.83898258
Iteration 33, loss = 1941795991.83475924
Iteration 34, loss = 1923060427.59908366
Iteration 35, loss = 1904947052.23543262
Iteration 36, loss = 1887851981.73668003
Iteration 37, loss = 1871352045.90062141
Iteration 38, loss = 1855663744.98057222
Iteration 39, loss = 1840444923.18792510
Iteration 40, loss = 1825575220.21316767
Iteration 41, loss = 1811567623.20532513
Iteration 42, loss = 1797614686.36667538
Iteration 43, loss = 1784453518.33439803
Iteration 44, loss = 1771930890.15350866
Iteration 45, loss = 1759399885.73653412
Iteration 46, loss = 1747423672.14491773
Iteration 47, loss = 1736310718.80311203
Iteration 48, loss = 1724268203.85181928
Iteration 49, loss = 1713887944.54473495
Iteration 50, loss = 1703264579.74417138
Iteration 51, loss = 1693133075.63349938
Iteration 52, loss = 1682565086.78767824
Iteration 53, loss = 1672857396.58276033
Iteration 54, loss = 1663058900.40821695
Iteration 55, loss = 1653554273.63688946
Iteration 56, loss = 1645130435.00262761
Iteration 57, loss = 1635602494.73015094
Iteration 58, loss = 1627753337.05434990
Iteration 59, loss = 1618935252.61900973
Iteration 60, loss = 1610724952.17372322
Iteration 61, loss = 1603165473.02982664
Iteration 62, loss = 1595194465.79733539
Iteration 63, loss = 1587791285.88910747
Iteration 64, loss = 1580423603.96627474
Iteration 65, loss = 1573218282.04570842
Iteration 66, loss = 1566483293.33708405
Iteration 67, loss = 1559302403.38660479
Iteration 68, loss = 1552913290.16003132
Iteration 69, loss = 1546853568.41363859
Iteration 70, loss = 1540709043.34001231
Iteration 71, loss = 1534837971.70113301
Iteration 72, loss = 1528570885.69840288
Iteration 73, loss = 1522991257.65377212
Iteration 74, loss = 1517369688.40073991
Iteration 75, loss = 1512428856.43685675
Iteration 76, loss = 1506946996.96441936
Iteration 77, loss = 1502021948.40023685
Iteration 78, loss = 1497448424.78009057
Iteration 79, loss = 1492316280.35123587
Iteration 80, loss = 1487879030.14677763
Iteration 81, loss = 1483388524.83378267
Iteration 82, loss = 1479163428.03095198
Iteration 83, loss = 1474868920.26260734
Iteration 84, loss = 1470640381.16661382
Iteration 85, loss = 1466885776.87849760
Iteration 86, loss = 1463139088.62528086
Iteration 87, loss = 1459250336.93464375
Iteration 88, loss = 1455881230.00286198
Iteration 89, loss = 1451991942.02723169
Iteration 90, loss = 1448790423.34258699
Iteration 91, loss = 1445309308.18167877
Iteration 92, loss = 1442371757.23260474
Iteration 93, loss = 1439905348.11063933
Iteration 94, loss = 1436705161.67175126
Iteration 95, loss = 1433751129.22769880
Iteration 96, loss = 1432157517.27465606
Iteration 97, loss = 1429342720.09088302
Iteration 98, loss = 1426836716.88125300
Iteration 99, loss = 1424406034.88997960
Iteration 100, loss = 1422478594.74756670
Iteration 101, loss = 1420282976.11729860
Iteration 102, loss = 1418011483.07300973
Iteration 103, loss = 1415767667.21159649
Iteration 104, loss = 1413643391.11863256
Iteration 105, loss = 1411348218.43698883
Iteration 106, loss = 1409415980.23321271
Iteration 107, loss = 1407424651.31920958
Iteration 108, loss = 1405970701.17983985
Iteration 109, loss = 1403473834.08578730
Iteration 110, loss = 1402078093.49453378
Iteration 111, loss = 1400232138.43553329
Iteration 112, loss = 1398746959.16371870
Iteration 113, loss = 1397161495.47557402
Iteration 114, loss = 1395363518.83476710
Iteration 115, loss = 1393792610.59830856
Iteration 116, loss = 1392388094.34929419
Iteration 117, loss = 1391069575.04235530
Iteration 118, loss = 1389809439.75762296
Iteration 119, loss = 1388557974.86208963
Iteration 120, loss = 1387053392.34890199
Iteration 121, loss = 1385697508.07641006
Iteration 122, loss = 1384820757.69207311
Iteration 123, loss = 1383414018.16394615
Iteration 124, loss = 1382502023.12497878
Iteration 125, loss = 1381334604.51184464
Iteration 126, loss = 1380588364.00463009
Iteration 127, loss = 1379320922.14144015
Iteration 128, loss = 1378178604.02716041
Iteration 129, loss = 1377280813.99400854
Iteration 130, loss = 1375970748.48195100
Iteration 131, loss = 1375539893.38790250
Iteration 132, loss = 1374608154.12026930
Iteration 133, loss = 1373893705.37240791
Iteration 134, loss = 1372719154.23296309
Iteration 135, loss = 1371905438.40558672
Iteration 136, loss = 1371605042.35150242
Iteration 137, loss = 1370277567.42705798
Iteration 138, loss = 1369316235.67692924
Iteration 139, loss = 1368613768.41081071
Iteration 140, loss = 1367916738.39682484
Iteration 141, loss = 1367907509.89087844
Iteration 142, loss = 1366702764.18115211
Iteration 143, loss = 1366194237.64597058
Iteration 144, loss = 1365391485.31443357
Iteration 145, loss = 1364884315.14614081
Iteration 146, loss = 1364276220.61617732
Iteration 147, loss = 1363608251.23334503
Iteration 148, loss = 1363188549.90409732
Iteration 149, loss = 1362054464.45829153
Iteration 150, loss = 1362118256.82731676
Iteration 151, loss = 1361606176.23351526
Iteration 152, loss = 1360451197.01364946
Iteration 153, loss = 1360119493.40743923
Iteration 154, loss = 1359867633.39819241
Iteration 155, loss = 1358929426.85216212
Iteration 156, loss = 1358512575.72430348
Iteration 157, loss = 1358270684.91820192
Iteration 158, loss = 1357566547.11987758
Iteration 159, loss = 1356905764.92621136
Iteration 160, loss = 1356524817.49934912
Iteration 161, loss = 1356046696.63511610
Iteration 162, loss = 1355746587.87889671
Iteration 163, loss = 1355046643.07426858
Iteration 164, loss = 1354883051.14943266
Iteration 165, loss = 1354245132.64524412
Iteration 166, loss = 1354001698.15071702
Iteration 167, loss = 1353396082.86967278
Iteration 168, loss = 1352882501.01109552
Iteration 169, loss = 1352499665.00244713
Iteration 170, loss = 1352350486.63474965
Iteration 171, loss = 1351614069.47836137
Iteration 172, loss = 1350982488.66947341
Iteration 173, loss = 1350606747.07189894
Iteration 174, loss = 1350012945.15852451
Iteration 175, loss = 1349731406.43330741
Iteration 176, loss = 1349566237.15226436
Iteration 177, loss = 1349080748.90391946
Iteration 178, loss = 1348337925.88212276
Iteration 179, loss = 1348089201.95828032
Iteration 180, loss = 1347658634.28784227
Iteration 181, loss = 1347910455.69581342
Iteration 182, loss = 1347197804.61305761
Iteration 183, loss = 1346302899.78616190
Iteration 184, loss = 1345810096.16112828
Iteration 185, loss = 1345479500.06771612
Iteration 186, loss = 1345263980.49579763
Iteration 187, loss = 1344712096.86737275
Iteration 188, loss = 1344497010.57027912
Iteration 189, loss = 1343819103.45606780
Iteration 190, loss = 1343385242.70309019
Iteration 191, loss = 1343012951.99130917
Iteration 192, loss = 1342690993.99869251
Iteration 193, loss = 1342568848.92768431
Iteration 194, loss = 1341894923.36386967
Iteration 195, loss = 1341247895.22796965
Iteration 196, loss = 1340758980.06233406
Iteration 197, loss = 1340409668.87256718
Iteration 198, loss = 1339750001.67873883
Iteration 199, loss = 1339597995.22661090
Iteration 200, loss = 1339109698.32338881
mean squared error: 4440408229.137505
r2 score: 0.7827814482118614

/usr/local/lib/python3.9/dist-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(